@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container Spacer">
    <div class="row">
        <div class="col-md">
            <h2>
                <i class="far fa-credit-card"></i> Barclays Payment System
            </h2>
            <p>
                This system is used to input payments to be processed by Barclays EPDQ.
            </p>
            <p>
                Please complete all details to ensure payments can easily be matched up to students
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md">

        </div>
    </div>
</div>

<partial name="_InputIDsPartial" model="Model" />